@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body::-webkit-scrollbar-track {
	background: rgb(86, 10, 10);
	border-radius: 5px;
	padding: none;
}

*::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 14px;
	padding: none;
}
